<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Product</h1>
    <form action="/add" method="post">
    <label>Product type</label>
    <select name="" id="">
        <option value="car">Car</option>
        <option value="motorcycle">Motorcycle</option>
        <option value="boat">Boats</option>
        <option value="trucks">Truck</option>
    </select>
    <label for="">Mileage: </label>
    <input type="text" name="mileage" id="">
    
    <label for="">Age: </label>
    <input type="text" name="age" id="">

    <label for="">Transmission: </label>
    <input type="text" name="transmission" id="">
    
    <label for="">Fuel type: </label>
    <input type="text" name="fuel_type" id="">

    <label for="">Power: </label>
    <input type="text" name="power" id="">

    <label for="">Seats: </label>
    <input type="text" name="seats" id="">

    <label for="">Vehicle name: </label>
    <input type="text" name="vehicle_name" id="">

    <label for="">Description:</label>
    <textarea name="description" id="" cols="30" rows="5"></textarea>

    <label for="">Start price</label>
    <input type="text" name="start_price" id="">



    <button>Canel</button>
    <button>Submit</button>
</form>
</body>
</html>